@model Cafedebug.Business.Episodio

@{
    ViewData["Title"] = "";
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
</head>
<body>
    <div class="col-sm-4">
        <div class="coluna3">
            <h3>
                Desbugando<br />
                <b>Noticías</b><strong>___________</strong>
            </h3>
            <ul>
                <li>
                    <a href="#" class="noticialista">
                        <b href="#" class="taglista"> Noticías</b>
                        <span>Exportação de carne de frango cresce 35% em abril</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="noticialista">
                        <b href="#" class="taglista"> Noticías</b>
                        <span>Chelsea bate Eintracht Frankfurt nos pênaltis  </span>
                    </a>
                </li>
                <li>
                    <a href="#" class="noticialista">
                        <b href="#" class="taglista"> Noticías</b>
                        <span>Marinha alerta para vento de mais de 60 km/h no litoral</span>
                    </a>
                </li>
            </ul>
        </div>
        <div id="anunciobrlateral">
            <img src="~/images/anuncios.jpg">
        </div>
    </div>
</body>
</html>