@model Cafedebug.Business.Models.Noticia

@{
    ViewData["Title"] = "";
}

<!DOCTYPE html>
<html lang="pt-br">
<head></head>
<body>
    <section id="noticias" class="aboxnoticia">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 titulonotic">
                    <h3>Desbugando<br /><b>Noticías</b></h3>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="boxnoticia">
                        <a href="#" class="noticia">
                            <b class="tag"> Noticías</b>
                            <span>Lavar bem as mãos dura menos de um minuto e salva vidas</span>
                        </a>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="boxnoticia">
                        <a href="#" class="noticia">
                            <b class="tag"> Noticías</b>
                            <span>Guia de cores dos alimentos ajuda a criar um cardápio saudável para prevenir o câncer e aumentar sua qualidade de vida</span>
                        </a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="boxnoticia">
                        <a href="#" class="noticia">
                            <b href="#" class="tag"> Noticías</b>
                            <span>Chelsea vence e fará clássico com o Arsenal na final</span>
                        </a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="boxnoticia">
                        <a href="#" class="noticia">
                            <b href="#" class="tag"> Noticías</b>
                            <span>Apotecários, os drinks que têm poder curativo</span>
                        </a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="boxnoticia">
                        <a href="#" class="noticia">
                            <b class="tag"> Noticías</b>
                            <span>‘Friends’ ainda arrecada US$ 1 bi por ano</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>