@model Cafedebug.Business.Models.News

@{
    ViewData["Title"] = "";
}

<section id="noticias" class="noticias">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="tituloNoticias">
                    <h3>Desbugando<span></span><br /><b>Noticías</b></h3>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4 col-md-4 col-lg-4">
                <div class="boxnoticia">
                    <a href="#" class="noticia">
                        <b class="tag"> Noticías</b><br />
                        <span>Lavar bem as mãos dura menos de um minuto e salva vidas</span>
                    </a>
                </div>
            </div>
            <div class="col-sm-8 col-md-8 col-lg-8">
                <div class="boxnoticia">
                    <a href="#" class="noticia">
                        <b class="tag"> Noticías</b><br />
                        <span>Guia de cores dos alimentos ajuda a criar um cardápio saudável para prevenir o câncer e aumentar sua qualidade de vida</span>
                    </a>
                </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <div class="boxnoticia">
                    <a href="#" class="noticia">
                        <b href="#" class="tag"> Noticías</b><br />
                        <span>Chelsea vence e fará clássico com o Arsenal na final</span>
                    </a>
                </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <div class="boxnoticia">
                    <a href="#" class="noticia">
                        <b href="#" class="tag"> Noticías</b><br />
                        <span>Apotecários, os drinks que têm poder curativo</span>
                    </a>
                </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <div class="boxnoticia">
                    <a href="#" class="noticia">
                        <b class="tag"> Noticías</b><br />
                        <span>‘Friends’ ainda arrecada US$ 1 bi por ano</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
