@{
    ViewData["Title"] = "Contato | Café Debug";

}
@using Cafedebug.Web.Models;
@model ContactModelView

<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <div class="contact-us-form">
                <div class="logo-contact-us">
                    <img src="https://cafedebug.s3.us-east-2.amazonaws.com/Imagens/logo-quemsomos.png" />
                </div>
                <form id="Form-contact" method="post">
                    <div class="form-group">
                        <div class="col-md-4 control-label  text-left">
                            <label class="control-label" for="Nome">Nome</label>
                        </div>
                        <div class="form-group col-md-12 ">
                            <div class="">
                                <input id="contact_name" name="Nome" type="text" class="form-control input-md">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="form-group col-md-2  text-left">
                                <label class="control-label  " for="Email">Email</label>
                            </div>
                            <div class="form-group col-md-12 ">
                                <div class="">
                                    <input id="contact_email" name="Email" type="text" class="form-control input-md">
                                </div>
                            </div>
                            <div class="form-group col-md-2  text-left">
                                <label class="control-label  " for="Telefone">Telefone</label>
                            </div>
                            <div class="form-group col-md-12 ">
                                <div class="">
                                    <input id="contact_phone" name="Telefone" type="text" class="form-control input-md">
                                </div>
                            </div><br />

                            <!--Assunto-->
                            <div class="form-group col-md-2  text-left">
                                <label class="control-label  " for="Assunto">Assunto</label>
                            </div>

                            <div class="col-md-6 floatl">
                                <select class="browser-default custom-select mb-5" name="Assunto" id="selectOp">
                                    <option value="" disabled="" selected="">Selecione um assunto</option>
                                    @foreach (var item in Model.Assuntos)
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                </select>
                            </div>
                            <!-- Textarea -->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="Mensagem">Mensagem</label>
                                <div class="col-md-12">
                                    <textarea id="contact_message" class="form-control" name="Mensagem"></textarea>
                                </div>
                            </div>
                            <br />
                            <div class="col-md-12">
                                <div class="btn-send">
                                    <button id="btnSubmit" type="submit" class="btn btn-lg btn-block">
                                        <i class="far fa-paper-plane"></i><span>&nbsp;Enviar</span>
                                    </button>
                                </div>
                            </div>

                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
