@model Cafedebug.Business.Models.Episode

@{
    ViewData["Title"] = "Episódio | Café Debug";
}

@*@addTagHelper "*,Cafedebug.Web"
@System.Globalization.CultureInfo.CurrentCulture*@

<section id="episodiounico">
    <div class="container">
        <div class="row">

            <!-- CONTEUDOEPISODIO -->
            <div id="conteudoepisodio" class="col-sm-8">

                <a href="#" class="tituloepisodio">
                    <h1>Bancos de Dados NOSQL</h1>
                </a>

                <div class="bannerep" style="background-image: url(img/banner-ep.png);">
                    <div class="maskmini"></div>

                    <strong>Cafê Debug <b>#24</b></strong>
                    <h2>Bancos de Dados NOSQL</h2>
                </div>
                <p>
                    <!-- carregar do banco-->
                    Descrição do episódio, carregar do banco.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                    <br /><br />
                </p>

                <div id="boxsoundcloud">
                    <h4>OUÇA através do player abaixo ou pelo <a href="">Sondcloud</a></h4><!--carregar url do soundcloud ou spotify da base-->
                    <p>Carregar o link dó episódio soundcloud</p>
                    <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/352561763&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>

                    <div class="compartilheep">

                        <div class="eplinkshe">
                            <h4>Compartilhe:</h4>
                            <a href="https://www.youtube.com/channel/UCLI7ho2zV2apQ2WHPGxkCQw"><i class="fab fa-youtube"></i></a>
                            <a href="https://twitter.com/cafedebug"><i class="fab fa-twitter"></i></a>
                        </div>

                        <div class="linksrepositorios">
                            <ul>
                                <a href="#"><li>Android</li></a>
                                <a href="#"><li>Itunes</li></a>
                                <a href="#"><li>Feed</li></a>
                                <a href="#"><li class="bdnn">Spotify</li></a>
                            </ul>
                        </div>
                        <div class="envieemail">
                            <img src="~/images/iconbugemail.png">
                            <p>
                                Dicas? Sugestões? Comentarios? Envie para:<br />
                                <email>debugcafe</email>
                            </p>
                        </div>
                    </div>
                </div>

            </div><!-- FECHA/CONTEUDOEPISODIO -->
            <partial name="_DesbugandoNoticia_Episodio" />
        </div>
    </div>
</section>


