@{
    ViewData["Title"] = "Episódio | Café debug";
}

<div class="container-episode">
    <div class="last-episode">
        <div class="number-episode">
            <h1>#26</h1>
            <img src="~/images/iconbug.png" alt="icon-bug" />
        </div>
        <div class="thumbnail-episode">
            <img src="~/images/ep.jpg" alt="thumbnail-ep" />
        </div>
        <div class="info-episode">
            <h1>Mulheres na computação e Comunidades de TI</h1>
            <p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an </p>
        </div>
    </div>
    <div class="list-episodies">
        <div class="ep-item">
            <div class="number-episode">
                <h1>#26</h1>
                <img src="~/images/iconbug.png" alt="icon-bug" />
            </div>
            <div class="thumbnail-episode">
                <img src="~/images/ep.jpg" alt="thumbnail-ep" />
            </div>
            <div class="info-episode">
                <h1>Mulheres na computação e Comunidades de TI</h1>
                <p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an </p>
            </div>
        </div>
        <div class="ep-item">
            <div class="number-episode">
                <h1>#26</h1>
                <img src="~/images/iconbug.png" alt="icon-bug" />
            </div>
            <div class="thumbnail-episode">
                <img src="~/images/ep.jpg" alt="thumbnail-ep" />
            </div>
            <div class="info-episode">
                <h1>Mulheres na computação e Comunidades de TI</h1>
                <p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an </p>
            </div>
        </div>
        <div class="ep-item">
            <div class="number-episode">
                <h1>#26</h1>
                <img src="~/images/iconbug.png" alt="icon-bug" />
            </div>
            <div class="thumbnail-episode">
                <img src="~/images/ep.jpg" alt="thumbnail-ep" />
            </div>
            <div class="info-episode">
                <h1>Mulheres na computação e Comunidades de TI</h1>
                <p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an </p>
            </div>
        </div>
        <div class="ep-item">
            <div class="number-episode">
                <h1>#26</h1>
                <img src="~/images/iconbug.png" alt="icon-bug" />
            </div>
            <div class="thumbnail-episode">
                <img src="~/images/ep.jpg" alt="thumbnail-ep" />
            </div>
            <div class="info-episode">
                <h1>Mulheres na computação e Comunidades de TI</h1>
                <p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an </p>
            </div>
        </div>
        <div class="ep-item">
            <div class="number-episode">
                <h1>#26</h1>
                <img src="~/images/iconbug.png" alt="icon-bug" />
            </div>
            <div class="thumbnail-episode">
                <img src="~/images/ep.jpg" alt="thumbnail-ep" />
            </div>
            <div class="info-episode">
                <h1>Mulheres na computação e Comunidades de TI</h1>
                <p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an </p>
            </div>
        </div>
        <div class="ep-item">
            <div class="number-episode">
                <h1>#26</h1>
                <img src="~/images/iconbug.png" alt="icon-bug" />
            </div>
            <div class="thumbnail-episode">
                <img src="~/images/ep.jpg" alt="thumbnail-ep" />
            </div>
            <div class="info-episode">
                <h1>Mulheres na computação e Comunidades de TI</h1>
                <p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an </p>
            </div>
        </div>
    </div>
</div>

