
$theme_color: #ed7d00;
$paragraph-color: #565656;


/*#region Comon Classes*/
.title-page {
    text-align: left;
    margin-left: 3%;
    margin-top: 15px;
    width: 100%;

    p {
        font-size: 25px;
        letter-spacing: -1px;
        border-bottom: 2px solid #ed7d00;
        display: inline-flex;
        padding-right: 30px;
        padding-bottom: 15px;
        font-weight: bold;
        color: #ed7d00;
        margin-bottom: 25px;
    }
}

.error {
    display: none;
    margin-left: 10px;
}

.error_show {
    color: red;
    margin-left: 10px;
}

input.invalid,
textarea.invalid,
select.invaild {
    border: 2px solid red;
}

input.valid,
textarea.valid,
select.vaild {
    border: 2px solid green;
}

a {
    text-decoration: none !important;
}
/*#endregion*/

/* Home*/
.card {
    -webkit-box-shadow: 5px 5px 10px 0px rgba(138,131,138,0.75);
    -moz-box-shadow: 5px 5px 10px 0px rgba(138,131,138,0.75);
    box-shadow: 5px 5px 10px 0px rgba(138,131,138,0.75);
    text-decoration: none;
    margin: 5% 7% 10% 5%;

    img {
        width: 100%;
        height: auto;
    }

    .card-body {
        background-color: rgba(244, 244, 244, 0.75);

        p {
            color: $theme_color;
        }
    }
}


.time-colaboradores {
    width: 10em;
    margin: 10px;
}

.time-description {
    padding: 1rem 0;
    width: 14rem;
    text-align: center;
    margin-top: 3em;
}

.time-description-detalhes {

    p {
        font-weight: bold;
        margin-bottom: 0.3em;
        text-align: center;
    }

    i {
        color: #e77d03;
        font-size: 1.75em;
    }
}

.time-name-colaborador {
    color: #E77D03;
    padding-top: 1em;
}

//carousel bottom
.owl-carousel {
    .owl-item {
        img {
            width: 6em;
            display: inline-block;
        }
    }
}

.owl-carousel-time {
    background: white;
    position: relative;
    margin: 20px 0;

    img {
        width: 6em;
    }
}
//Banner top
.owl-carousel {
    .owl-item {
        .banner {

            img {
                display: block;
                width: 100vw;
                height: 100vh;
            }
        }
    }
}

.debuggers-time {
    padding-top: 0;
    font-size: 1.25em;
    margin-bottom: 10em;
}

.title-nosso-time {
    padding-top: 0.5em;
    font-size: 2.125em;
}

// Episódios
.bannerep {
    width: 100%;
    height: 215px;
    background-size: 100%;
    background-position: center center;
    color: #fff;
    text-align: center;
}

// email da tela de episódio
.envieemail {
    background-color: #ed7d00;
    text-align: right;
    padding: 10px 0;
    margin-top: 43px;
    margin-bottom: 2%;
    padding-right: 9%;
}

.envieemail a {
    color: #fff;
    font-weight: bold;
}

.envieemail img {
    display: inline-block;
    height: 70px;
    margin-top: -26px;
}

.envieemail {
    background-color: #ed7d00;
    text-align: left;
    padding: 10px 0;
    margin-top: 50px;
    margin-left: 0;
    padding-left: 2%;
}

.envieemail p {
    font-size: 22px;
    display: inline-block;
    color: #fff;
    line-height: 24px;
    margin-top: 20px;
    letter-spacing: -1px;
}
// End Episódios

.novosepisodios {
    margin-top: 5%;

    .ladoinfoseps {
        text-align: left;
        margin-top: 15%;

        h1 {
            color: $theme_color;
            font-size: 3rem;
            font-weight: 600;
            line-height: 0.8;
            margin-bottom: 15%;
            padding-bottom: 5%;
            border-bottom: 7px solid $theme_color;
        }

        p {
            color: $paragraph-color;
            font-size: 22px;
            font-weight: 500;
        }


        .compartilharhome {
            a {
                i {
                    font-size: 3rem;
                    color: $theme_color;
                    margin: 2%;
                }
            }
        }
    }

    .ver-mais {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;

        a {
            font-size: 23px;
            border: 4px solid $theme_color;
            border-radius: 30px;
            padding-left: 10px;
            padding-right: 10px;
            text-decoration: none;
            color: $theme_color;
            font-weight: 500;
            margin-top: 5%;
            margin-right: 8%;

            i {
                color: $theme_color;
            }
        }
    }
}

.loading {
    background: url('https://cafedebug.s3.us-east-2.amazonaws.com/Imagens/Ripple-1s-200px.gif') no-repeat center center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9999999;
}

/* About us*/
.about-us {
    .logo {
        margin: 5%;
        width: 20%;
    }

    .text-1 {
        color: gray;
        font-size: 22px;
        padding: 5%;
    }

    .quemfaz {
        width: 100%;
        list-style-type: none;

        .tituloquem h3 {
            font-size: 3rem;
            font-weight: 500;
            letter-spacing: -1px;
            padding-top: 25px;
            padding-bottom: 25px;
            color: #ed7d00;
        }

        .quemfaz .tituloquem h3::after {
            margin-left: 0;
        }

        li {
            margin-top: 3%;
            margin-left: 0;

            .userQuemfaz {
                display: flex;
                justify-content: flex-start;
                align-content: flex-start;

                .square {

                    .block {
                        background: url('https://cafedebug.s3.us-east-2.amazonaws.com/Imagens/bordsomb.png');
                        background-repeat: no-repeat;
                        background-size: 80%;
                        text-align: left;
                        margin: auto;

                        img {
                            height: 80%;
                            width: 80%;
                            padding-top: 7%;
                            margin-left: 7%;
                            width: 52%;
                        }
                    }
                }

                .userhome {
                    color: $theme_color;
                    text-align: left;

                    p {
                        font-size: 20px;
                        line-height: 16px;
                        margin-bottom: 0;
                        color: $paragraph-color;
                    }

                    .socialuser {
                        font-size: 2rem;
                        float: right;

                        a {
                            i {
                                color: $theme_color;
                            }
                        }
                    }
                }
            }
        }
    }
}

/*#region contact-us*/
.contact-us-form {

    .logo-contact-us {
        display: block;

        img {
            margin: 5%;
        }
    }
    // button Enviar
    .btn-send {
        float: right;
        margin-bottom: 5%;

        button {
            width: 100%;
            border: 1px solid green;
            text-decoration: none;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            opacity: 1;

            span {
                letter-spacing: 0.7px
            }

            i {
                color: green;
            }
        }

        button:hover {
            animation: rotate 0.7s ease-in-out both;

            span {
                animation: storm 0.7s ease-in-out both;
                animation-delay: 0.06s;
            }
        }

        @keyframes rotate {
            0% {
                transform: rotate(0deg) translate3d(0, 0, 0);
            }

            25% {
                transform: rotate(3deg) translate3d(0, 0, 0);
            }

            50% {
                transform: rotate(-3deg) translate3d(0, 0, 0);
            }

            75% {
                transform: rotate(1deg) translate3d(0, 0, 0);
            }

            100% {
                transform: rotate(0deg) translate3d(0, 0, 0);
            }
        }

        @keyframes storm {
            0% {
                transform: translate3d( 0, 0, 0) translateZ(0);
            }

            25% {
                transform: translate3d( 4px, 0, 0) translateZ(0);
            }

            50% {
                transform: translate3d( -3px, 0, 0) translateZ(0);
            }

            75% {
                transform: translate3d( 2px, 0, 0) translateZ(0);
            }

            100% {
                transform: translate3d( 0, 0, 0) translateZ(0);
            }
        }
    }
}

/* Media Queries*/
@media only screen and (max-width: 480px) {
    /*Banner*/
    .owl-carousel {
        .banner {
            .content {
                padding: 10%;
                margin-top: 10%;

                strong {
                    font-size: 18px;
                }

                p {
                    padding-top: 5%;
                    font-size: 22px;
                    text-align: center;
                }

                .buttons {
                    flex-direction: column;

                    .oucaagora {
                        border: 2px solid white;
                        font-size: 14px;
                    }

                    .spotifybt {
                        background-color: #1bba54;
                        text-align: center;
                        border: none;
                        margin-top: 2%;
                    }
                }
            }
        }
    }

    /*Home*/
    .novosepisodios {

        .ladoinfoseps {
            margin-top: 10%;
            text-align: center;

            h1 {
                font-size: 2rem;

                span {
                    left: 0;
                }
            }

            p {
                font-size: 20px;
            }

            h4 {
                font-size: 2rem;

                span {
                    left: 0;
                }
            }

            .compartilharhome {
                margin-bottom: 5%;

                a {
                    height: 100%;
                    width: 100%;

                    i {
                        font-size: 30px;
                    }
                }
            }
        }

        .ver-mais {
            display: block;
            text-align: center;
            margin-top: 5%;
            margin-bottom: 5%;

            a {
                font-size: 22px;
                margin-right: 0;
            }
        }
    }
}

@media only screen and (min-width: 479px) and (max-width: 768px) {

    /*Banner*/
    .owl-carousel {
        .banner {
            .content {
                padding: 10%;

                strong {
                    font-size: 18px;
                }

                p {
                    padding-top: 5%;
                    font-size: 33px;
                    text-align: center;
                }

                .buttons {
                    flex-direction: column;

                    .oucaagora {
                        border: 2px solid white;
                        font-size: 18px;
                    }

                    .spotifybt {
                        background-color: #1bba54;
                        text-align: center;
                        border: none;
                        font-size: 18px;
                        margin-top: 2%;
                    }
                }
            }
        }
    }

    /*Home*/
    .novosepisodios {

        .ladoinfoseps {
            margin-top: 10%;

            h1 {
                font-size: 3rem;

                span {
                    left: 0;
                }
            }

            p {
                font-size: 20px;
            }

            h4 {
                font-size: 3rem;

                span {
                    left: 0;
                }
            }

            .compartilharhome {
                text-align: center;
                margin-bottom: 5%;

                a {
                    height: 100%;
                    width: 100%;

                    i {
                        font-size: 30px;
                    }
                }
            }
        }

        .ver-mais {
            a {
                font-size: 22px;
            }
        }
    }

    .noticias {

        .tituloNoticias {
            h3 {
                font-size: 3rem;

                span::after {
                    margin-left: 0;
                    margin-top: 25px;
                }
            }
        }

        .boxnoticia {
            font-size: 1rem;

            .tag {
                padding-bottom: 1%;
                margin-bottom: 2%;
            }

            span {
                font-size: 20px;
            }
        }
    }

    .quemfaz {
        .tituloquem {
            margin-top: 5%;

            h3 {
                font-size: 3rem;
            }

            h3::after {
                margin-left: 0;
            }
        }
    }
}

@media only screen and (min-width: 769px) and (max-width: 991px) {

    /*Banner*/
    .owl-carousel {
        .banner {
            .content {
                padding: 10%;

                strong {
                    font-size: 24px;
                }

                p {
                    padding-top: 10%;
                    font-size: 43px;
                    text-align: center;
                }

                .buttons {
                    flex-direction: row;
                    margin-top: 5%;

                    .oucaagora {
                        border: 2px solid white;
                        font-size: 18px;
                    }

                    .spotifybt {
                        background-color: #1bba54;
                        text-align: center;
                        border: none;
                        font-size: 18px;
                    }
                }
            }
        }
    }

    /*Home*/
    .novosepisodios {

        .ladoinfoseps {
            margin-top: 10%;

            h1 {
                font-size: 2rem;

                span {
                    left: 0;
                }
            }

            p {
                font-size: 20px;
            }

            h4 {
                font-size: 2rem;

                span {
                    left: 0;
                }
            }

            .compartilharhome {
                a {
                    height: 100%;
                    width: 100%;

                    i {
                        font-size: 30px;
                    }
                }
            }
        }

        .ver-mais {
            a {
                font-size: 22px;
            }
        }
    }

    .quemfaz {
        .tituloquem {
            margin-top: 5%;

            h3 {
                font-size: 2rem;
            }

            h3::after {
                margin-left: 0;
                width: 25%;
            }
        }
    }
    /* Episódios */

    .bannerep {
        width: 100%;
        height: 215px;
        background-size: 100%;
        background-position: center center;
        color: #fff;
        text-align: center;
    }

    .conteudoepisodio {

        .maskmini {

            span {
                color: #fff;
                margin-top: 40px;
                background-color: #ed7d00;
                padding: 5px 10px;
                font-weight: normal;
                margin-top: 50px;
                display: inline-block;
            }
        }
    }

    // email da tela de episódio
    .envieemail {
        background-color: #ed7d00;
        text-align: center;
        padding: 10px 0;
        margin-top: 50px;
    }

    .envieemail a {
        color: #fff;
        font-weight: bold;
    }

    .envieemail img {
        display: inline-block;
        height: 70px;
        margin-top: -26px;
    }

    .envieemail {
        background-color: #ed7d00;
        text-align: center;
        padding: 10px 0;
        margin-top: 50px;
    }

    .envieemail p {
        font-size: 22px;
        display: inline-block;
        color: #fff;
        line-height: 24px;
        margin-top: 20px;
        letter-spacing: -1px;
    }
    /* Fim Episódios */
}

