@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:600");
/*#region Comon Classes*/
.title-page {
  text-align: left;
  margin-left: 3%;
  margin-top: 15px;
  width: 100%; }
  .title-page p {
    font-size: 25px;
    letter-spacing: -1px;
    border-bottom: 2px solid #ed7d00;
    display: inline-flex;
    padding-right: 30px;
    padding-bottom: 15px;
    font-weight: bold;
    color: #ed7d00;
    margin-bottom: 25px; }

.error {
  display: none;
  margin-left: 10px; }

.error_show {
  color: red;
  margin-left: 10px; }

input.invalid,
textarea.invalid,
select.invaild {
  border: 2px solid red; }

input.valid,
textarea.valid,
select.vaild {
  border: 2px solid green; }

/*#endregion*/
/* Home*/
.owl-carousel .banner {
  position: relative;
  top: 0;
  left: 0;
  max-width: 100%;
  max-height: 70vh;
  min-height: 50vh;
  background: url("https://cafedebug.s3.us-east-2.amazonaws.com/Imagens/banner.jpg") center content-box no-repeat;
  background-size: cover;
  margin-top: 9px; }
  .owl-carousel .banner .banner-mask {
    max-width: 100%;
    max-height: 70vh;
    min-height: 50vh;
    z-index: 250; }
  .owl-carousel .banner .content {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 8%;
    width: 100%; }
    .owl-carousel .banner .content strong {
      color: white;
      background-color: #ed7d00;
      font-size: 2rem; }
    .owl-carousel .banner .content p {
      color: white;
      font-size: 4rem;
      padding-top: 3%; }
    .owl-carousel .banner .content .buttons {
      display: flex;
      align-content: center;
      align-items: center;
      justify-content: center;
      flex-direction: row; }
      .owl-carousel .banner .content .buttons .oucaagora,
      .owl-carousel .banner .content .buttons .spotifybt {
        display: inline-block;
        font-size: 14px;
        color: white;
        border-radius: 20px;
        font-weight: 400;
        margin-left: 20px; }
        .owl-carousel .banner .content .buttons .oucaagora i,
        .owl-carousel .banner .content .buttons .spotifybt i {
          color: white;
          padding-right: 5px;
          padding-left: 5px; }
      .owl-carousel .banner .content .buttons .oucaagora {
        border: 3px solid white;
        padding: 5px; }
      .owl-carousel .banner .content .buttons .spotifybt {
        background-color: #1bba54;
        text-align: center;
        border: none;
        padding: 7px; }

.bannerep {
  width: 100%;
  height: 215px;
  background-size: 100%;
  background-position: center center;
  color: #fff;
  text-align: center; }

.envieemail {
  background-color: #ed7d00;
  text-align: right;
  padding: 10px 0;
  margin-top: 43px;
  margin-bottom: 2%;
  padding-right: 9%; }

.envieemail a {
  color: #fff;
  font-weight: bold; }

.envieemail img {
  display: inline-block;
  height: 70px;
  margin-top: -26px; }

.envieemail {
  background-color: #ed7d00;
  text-align: left;
  padding: 10px 0;
  margin-top: 50px;
  margin-left: 0;
  padding-left: 2%; }

.envieemail p {
  font-size: 22px;
  display: inline-block;
  color: #fff;
  line-height: 24px;
  margin-top: 20px;
  letter-spacing: -1px; }

.novosepisodios {
  margin-top: 5%; }
  .novosepisodios .ladoinfoseps {
    text-align: left;
    margin-top: 15%; }
    .novosepisodios .ladoinfoseps h1 {
      color: #ed7d00;
      font-size: 3rem;
      font-weight: 600;
      line-height: 0.8;
      margin-bottom: 15%;
      padding-bottom: 5%;
      border-bottom: 7px solid #ed7d00; }
    .novosepisodios .ladoinfoseps p {
      color: #565656;
      font-size: 22px;
      font-weight: 500; }
    .novosepisodios .ladoinfoseps .compartilharhome a i {
      font-size: 3rem;
      color: #ed7d00;
      margin: 2%; }
  .novosepisodios .ver-mais {
    display: flex;
    justify-content: center;
    margin-bottom: 20px; }
    .novosepisodios .ver-mais a {
      font-size: 23px;
      border: 4px solid #ed7d00;
      border-radius: 30px;
      padding-left: 10px;
      padding-right: 10px;
      text-decoration: none;
      color: #ed7d00;
      font-weight: 500;
      margin-top: 5%;
      margin-right: 8%; }
      .novosepisodios .ver-mais a i {
        color: #ed7d00; }
  .novosepisodios .episodiounico {
    display: block;
    text-align: center; }
    .novosepisodios .episodiounico img {
      max-width: 80%;
      max-height: 80%;
      margin-bottom: 10px; }

.loading {
  background: url("https://cafedebug.s3.us-east-2.amazonaws.com/Imagens/Ripple-1s-200px.gif") no-repeat center center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9999999; }

/* About us*/
.about-us .logo {
  margin: 5%;
  width: 20%; }

.about-us .text-1 {
  color: gray;
  font-size: 22px;
  padding: 5%; }

.about-us .quemfaz {
  width: 100%;
  list-style-type: none; }
  .about-us .quemfaz .tituloquem h3 {
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: -1px;
    padding-top: 25px;
    padding-bottom: 25px;
    color: #ed7d00; }
  .about-us .quemfaz .quemfaz .tituloquem h3::after {
    margin-left: 0; }
  .about-us .quemfaz li {
    margin-top: 3%;
    margin-left: 0; }
    .about-us .quemfaz li .userQuemfaz {
      display: flex;
      justify-content: flex-start;
      align-content: flex-start; }
      .about-us .quemfaz li .userQuemfaz .square .block {
        background: url("https://cafedebug.s3.us-east-2.amazonaws.com/Imagens/bordsomb.png");
        background-repeat: no-repeat;
        background-size: 80%;
        text-align: left;
        margin: auto; }
        .about-us .quemfaz li .userQuemfaz .square .block img {
          height: 80%;
          width: 80%;
          padding-top: 7%;
          margin-left: 7%;
          width: 52%; }
      .about-us .quemfaz li .userQuemfaz .userhome {
        color: #ed7d00;
        text-align: left; }
        .about-us .quemfaz li .userQuemfaz .userhome p {
          font-size: 20px;
          line-height: 16px;
          margin-bottom: 0;
          color: #565656; }
        .about-us .quemfaz li .userQuemfaz .userhome .socialuser {
          font-size: 2rem;
          float: right; }
          .about-us .quemfaz li .userQuemfaz .userhome .socialuser a i {
            color: #ed7d00; }

/*#region contact-us*/
.contact-us-form .logo-contact-us {
  display: block; }
  .contact-us-form .logo-contact-us img {
    margin: 5%; }

.contact-us-form .btn-send {
  float: right;
  margin-bottom: 5%; }
  .contact-us-form .btn-send button {
    width: 100%;
    border: 1px solid green;
    text-decoration: none;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 1; }
    .contact-us-form .btn-send button span {
      letter-spacing: 0.7px; }
    .contact-us-form .btn-send button i {
      color: green; }
  .contact-us-form .btn-send button:hover {
    animation: rotate 0.7s ease-in-out both; }
    .contact-us-form .btn-send button:hover span {
      animation: storm 0.7s ease-in-out both;
      animation-delay: 0.06s; }

@keyframes rotate {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0); }
  25% {
    transform: rotate(3deg) translate3d(0, 0, 0); }
  50% {
    transform: rotate(-3deg) translate3d(0, 0, 0); }
  75% {
    transform: rotate(1deg) translate3d(0, 0, 0); }
  100% {
    transform: rotate(0deg) translate3d(0, 0, 0); } }

@keyframes storm {
  0% {
    transform: translate3d(0, 0, 0) translateZ(0); }
  25% {
    transform: translate3d(4px, 0, 0) translateZ(0); }
  50% {
    transform: translate3d(-3px, 0, 0) translateZ(0); }
  75% {
    transform: translate3d(2px, 0, 0) translateZ(0); }
  100% {
    transform: translate3d(0, 0, 0) translateZ(0); } }

/* Media Queries*/
@media only screen and (max-width: 480px) {
  /*Banner*/
  .owl-carousel .banner .content {
    padding: 10%;
    margin-top: 10%; }
    .owl-carousel .banner .content strong {
      font-size: 18px; }
    .owl-carousel .banner .content p {
      padding-top: 5%;
      font-size: 22px;
      text-align: center; }
    .owl-carousel .banner .content .buttons {
      flex-direction: column; }
      .owl-carousel .banner .content .buttons .oucaagora {
        border: 2px solid white;
        font-size: 14px; }
      .owl-carousel .banner .content .buttons .spotifybt {
        background-color: #1bba54;
        text-align: center;
        border: none;
        margin-top: 2%; }
  /*Home*/
  .novosepisodios .ladoinfoseps {
    margin-top: 10%;
    text-align: center; }
    .novosepisodios .ladoinfoseps h1 {
      font-size: 2rem; }
      .novosepisodios .ladoinfoseps h1 span {
        left: 0; }
    .novosepisodios .ladoinfoseps p {
      font-size: 20px; }
    .novosepisodios .ladoinfoseps h4 {
      font-size: 2rem; }
      .novosepisodios .ladoinfoseps h4 span {
        left: 0; }
    .novosepisodios .ladoinfoseps .compartilharhome {
      margin-bottom: 5%; }
      .novosepisodios .ladoinfoseps .compartilharhome a {
        height: 100%;
        width: 100%; }
        .novosepisodios .ladoinfoseps .compartilharhome a i {
          font-size: 30px; }
  .novosepisodios .ver-mais {
    display: block;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%; }
    .novosepisodios .ver-mais a {
      font-size: 22px;
      margin-right: 0; } }

@media only screen and (min-width: 479px) and (max-width: 768px) {
  /*Banner*/
  .owl-carousel .banner .content {
    padding: 10%; }
    .owl-carousel .banner .content strong {
      font-size: 18px; }
    .owl-carousel .banner .content p {
      padding-top: 5%;
      font-size: 33px;
      text-align: center; }
    .owl-carousel .banner .content .buttons {
      flex-direction: column; }
      .owl-carousel .banner .content .buttons .oucaagora {
        border: 2px solid white;
        font-size: 18px; }
      .owl-carousel .banner .content .buttons .spotifybt {
        background-color: #1bba54;
        text-align: center;
        border: none;
        font-size: 18px;
        margin-top: 2%; }
  /*Home*/
  .novosepisodios .ladoinfoseps {
    margin-top: 10%; }
    .novosepisodios .ladoinfoseps h1 {
      font-size: 3rem; }
      .novosepisodios .ladoinfoseps h1 span {
        left: 0; }
    .novosepisodios .ladoinfoseps p {
      font-size: 20px; }
    .novosepisodios .ladoinfoseps h4 {
      font-size: 3rem; }
      .novosepisodios .ladoinfoseps h4 span {
        left: 0; }
    .novosepisodios .ladoinfoseps .compartilharhome {
      text-align: center;
      margin-bottom: 5%; }
      .novosepisodios .ladoinfoseps .compartilharhome a {
        height: 100%;
        width: 100%; }
        .novosepisodios .ladoinfoseps .compartilharhome a i {
          font-size: 30px; }
  .novosepisodios .ver-mais a {
    font-size: 22px; }
  .noticias .tituloNoticias h3 {
    font-size: 3rem; }
    .noticias .tituloNoticias h3 span::after {
      margin-left: 0;
      margin-top: 25px; }
  .noticias .boxnoticia {
    font-size: 1rem; }
    .noticias .boxnoticia .tag {
      padding-bottom: 1%;
      margin-bottom: 2%; }
    .noticias .boxnoticia span {
      font-size: 20px; }
  .quemfaz .tituloquem {
    margin-top: 5%; }
    .quemfaz .tituloquem h3 {
      font-size: 3rem; }
    .quemfaz .tituloquem h3::after {
      margin-left: 0; } }

@media only screen and (min-width: 769px) and (max-width: 991px) {
  /*Banner*/
  .owl-carousel .banner .content {
    padding: 10%; }
    .owl-carousel .banner .content strong {
      font-size: 24px; }
    .owl-carousel .banner .content p {
      padding-top: 10%;
      font-size: 43px;
      text-align: center; }
    .owl-carousel .banner .content .buttons {
      flex-direction: row;
      margin-top: 5%; }
      .owl-carousel .banner .content .buttons .oucaagora {
        border: 2px solid white;
        font-size: 18px; }
      .owl-carousel .banner .content .buttons .spotifybt {
        background-color: #1bba54;
        text-align: center;
        border: none;
        font-size: 18px; }
  /*Home*/
  .novosepisodios .ladoinfoseps {
    margin-top: 10%; }
    .novosepisodios .ladoinfoseps h1 {
      font-size: 2rem; }
      .novosepisodios .ladoinfoseps h1 span {
        left: 0; }
    .novosepisodios .ladoinfoseps p {
      font-size: 20px; }
    .novosepisodios .ladoinfoseps h4 {
      font-size: 2rem; }
      .novosepisodios .ladoinfoseps h4 span {
        left: 0; }
    .novosepisodios .ladoinfoseps .compartilharhome a {
      height: 100%;
      width: 100%; }
      .novosepisodios .ladoinfoseps .compartilharhome a i {
        font-size: 30px; }
  .novosepisodios .ver-mais a {
    font-size: 22px; }
  .quemfaz .tituloquem {
    margin-top: 5%; }
    .quemfaz .tituloquem h3 {
      font-size: 2rem; }
    .quemfaz .tituloquem h3::after {
      margin-left: 0;
      width: 25%; }
  /* Episódios */
  .bannerep {
    width: 100%;
    height: 215px;
    background-size: 100%;
    background-position: center center;
    color: #fff;
    text-align: center; }
  .conteudoepisodio .maskmini span {
    color: #fff;
    margin-top: 40px;
    background-color: #ed7d00;
    padding: 5px 10px;
    font-weight: normal;
    margin-top: 50px;
    display: inline-block; }
  .envieemail {
    background-color: #ed7d00;
    text-align: center;
    padding: 10px 0;
    margin-top: 50px; }
  .envieemail a {
    color: #fff;
    font-weight: bold; }
  .envieemail img {
    display: inline-block;
    height: 70px;
    margin-top: -26px; }
  .envieemail {
    background-color: #ed7d00;
    text-align: center;
    padding: 10px 0;
    margin-top: 50px; }
  .envieemail p {
    font-size: 22px;
    display: inline-block;
    color: #fff;
    line-height: 24px;
    margin-top: 20px;
    letter-spacing: -1px; }
  /* Fim Episódios */ }
