/*#region comon classes*/
.title-page {
  text-align: left;
  margin-left: 3%;
  width: 100%; }
  .title-page p {
    font-size: 3rem;
    font-weight: bold;
    margin: 15px;
    color: dimgray; }

.body-content {
  margin-left: 4%;
  margin-right: 4%; }

/*#endregion */
/*#region Home*/
.owl-carousel .banner {
  position: relative;
  top: 0;
  left: 0;
  max-width: 100%;
  max-height: 70vh;
  min-height: 50vh;
  background: url(../images/banner.jpg) center content-box no-repeat;
  background-size: cover; }
  .owl-carousel .banner .banner-mask {
    max-width: 100%;
    max-height: 70vh;
    min-height: 50vh;
    z-index: 250; }
  .owl-carousel .banner .content {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 8%;
    width: 100%; }
    .owl-carousel .banner .content strong {
      color: white;
      background-color: #ed7d00;
      font-size: 2rem; }
    .owl-carousel .banner .content p {
      color: white;
      font-size: 4rem;
      padding-top: 3%; }
    .owl-carousel .banner .content .buttons {
      display: flex;
      align-content: center;
      align-items: center;
      justify-content: center;
      flex-direction: row; }
      .owl-carousel .banner .content .buttons .oucaagora,
      .owl-carousel .banner .content .buttons .spotifybt {
        display: inline-block;
        font-size: 14px;
        color: white;
        border-radius: 20px;
        font-weight: 400;
        margin-left: 20px; }
        .owl-carousel .banner .content .buttons .oucaagora i,
        .owl-carousel .banner .content .buttons .spotifybt i {
          color: white;
          padding-right: 5px;
          padding-left: 5px; }
      .owl-carousel .banner .content .buttons .oucaagora {
        border: 3px solid white;
        padding: 5px; }
      .owl-carousel .banner .content .buttons .spotifybt {
        background-color: #1bba54;
        text-align: center;
        border: none;
        padding: 7px; }

.novosepisodios {
  margin-top: 5%; }
  .novosepisodios .ladoinfoseps {
    text-align: left;
    margin-top: 55%; }
    .novosepisodios .ladoinfoseps h1 {
      color: #ed7d00;
      font-size: 5rem;
      font-weight: 600;
      line-height: 0.8;
      position: relative;
      margin-bottom: 15%; }
      .novosepisodios .ladoinfoseps h1 span {
        position: absolute;
        margin-left: 5px;
        padding: 0;
        line-height: 0.8;
        height: 10px;
        right: 37%;
        top: 70%; }
    .novosepisodios .ladoinfoseps p {
      color: #565656;
      font-size: 22px;
      font-weight: 500; }
    .novosepisodios .ladoinfoseps h4 {
      color: #ed7d00;
      font-size: 4rem;
      font-weight: 600;
      line-height: 0.8;
      position: relative;
      margin-bottom: 15%; }
      .novosepisodios .ladoinfoseps h4 span {
        position: absolute;
        margin-left: 5px;
        padding: 0;
        line-height: 0.8;
        height: 10px;
        right: 59%;
        top: 36%; }
    .novosepisodios .ladoinfoseps .compartilharhome a i {
      font-size: 3rem;
      color: #ed7d00;
      margin: 2%; }
  .novosepisodios .ver-mais {
    display: flex;
    justify-content: end; }
    .novosepisodios .ver-mais a {
      font-size: 23px;
      border: 4px solid #ed7d00;
      border-radius: 30px;
      padding-left: 10px;
      padding-right: 10px;
      text-decoration: none;
      color: #ed7d00;
      font-weight: 500;
      margin-right: 3%; }
      .novosepisodios .ver-mais a i {
        color: #ed7d00; }
  .novosepisodios .episodiounico img {
    width: 100%;
    height: 100%;
    margin-bottom: 25px; }

.noticias {
  background-color: #ed7d00;
  margin-top: 3%;
  margin-bottom: 3%;
  font-size: 2rem;
  padding-top: 5%;
  padding-bottom: 5%; }
  .noticias .tituloNoticias h3 {
    color: white;
    margin-left: 1%;
    font-weight: 600;
    font-size: 4rem;
    margin-left: 3%;
    line-height: 0.5em;
    margin-bottom: 5%; }
    .noticias .tituloNoticias h3 span::after {
      content: "";
      border: 3px solid white;
      display: block;
      width: 65%;
      margin-left: 32%; }
  .noticias .boxnoticia {
    margin: 5%;
    font-weight: 600;
    font-size: 2rem;
    border-left: 7px solid white;
    padding-left: 5%; }
    .noticias .boxnoticia .tag {
      background-color: white;
      color: #ed7d00;
      font-size: 18px;
      padding: 5px; }
    .noticias .boxnoticia .noticia {
      color: white;
      outline: none;
      text-decoration: none; }

.quemfaz {
  margin-bottom: 5%; }
  .quemfaz .tituloquem h3 {
    color: #ed7d00;
    font-size: 4rem;
    margin-left: 5%; }
  .quemfaz .tituloquem h3::after {
    content: "";
    border: 3px solid #ed7d00;
    display: block;
    width: 65%;
    margin-left: 32%;
    margin-bottom: 5%; }
  .quemfaz .userquemfaz {
    background: url(../images/bordsomb.png);
    background-repeat: no-repeat;
    background-size: 80%;
    text-align: center;
    margin: auto; }
    .quemfaz .userquemfaz .square img {
      height: 80%;
      width: 80%;
      padding-top: 8%; }
    .quemfaz .userquemfaz .userhome {
      color: #ed7d00; }
      .quemfaz .userquemfaz .userhome p {
        font-size: 20px;
        line-height: 16px;
        margin-bottom: 0;
        color: #565656;
        margin: 5%; }
      .quemfaz .userquemfaz .userhome .socialuser {
        font-size: 2rem; }
        .quemfaz .userquemfaz .userhome .socialuser a i {
          color: #ed7d00; }

.loading {
  background: url("../images/Ripple-1s-200px.gif") no-repeat center center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9999999; }

/*#endregion */
/*#region About us*/
.about-us .logo {
  margin: 5%; }

.about-us .text-1 {
  color: gray;
  font-size: 22px;
  padding: 5%; }

.about-us .quemfaz {
  width: 100%;
  list-style-type: none; }
  .about-us .quemfaz li {
    margin-top: 3%;
    margin-left: 0; }
    .about-us .quemfaz li .userQuemfaz {
      display: flex;
      justify-content: flex-start;
      align-content: flex-start; }
      .about-us .quemfaz li .userQuemfaz .square .block {
        background: url(../images/bordsomb.png);
        background-repeat: no-repeat;
        background-size: 80%;
        text-align: left;
        margin: auto; }
        .about-us .quemfaz li .userQuemfaz .square .block img {
          height: 80%;
          width: 80%;
          padding-top: 7%;
          margin-left: 7%; }
      .about-us .quemfaz li .userQuemfaz .userhome {
        color: #ed7d00;
        text-align: left; }
        .about-us .quemfaz li .userQuemfaz .userhome p {
          font-size: 20px;
          line-height: 16px;
          margin-bottom: 0;
          color: #565656; }
        .about-us .quemfaz li .userQuemfaz .userhome .socialuser {
          font-size: 2rem;
          float: right; }
          .about-us .quemfaz li .userQuemfaz .userhome .socialuser a i {
            color: #ed7d00; }

/*#endregion */
/*#region Media Queries*/
@media only screen and (max-width: 480px) {
  /*Banner*/
  .owl-carousel .banner .content {
    padding: 10%;
    margin-top: 10%; }
    .owl-carousel .banner .content strong {
      font-size: 18px; }
    .owl-carousel .banner .content p {
      padding-top: 5%;
      font-size: 22px;
      text-align: center; }
    .owl-carousel .banner .content .buttons {
      flex-direction: column; }
      .owl-carousel .banner .content .buttons .oucaagora {
        border: 2px solid white;
        font-size: 14px; }
      .owl-carousel .banner .content .buttons .spotifybt {
        background-color: #1bba54;
        text-align: center;
        border: none;
        margin-top: 2%; }
  /*Home*/
  .novosepisodios .ladoinfoseps {
    margin-top: 10%; }
    .novosepisodios .ladoinfoseps h1 {
      font-size: 2rem; }
      .novosepisodios .ladoinfoseps h1 span {
        left: 0; }
    .novosepisodios .ladoinfoseps p {
      font-size: 20px; }
    .novosepisodios .ladoinfoseps h4 {
      font-size: 2rem; }
      .novosepisodios .ladoinfoseps h4 span {
        left: 0; }
    .novosepisodios .ladoinfoseps .compartilharhome a {
      height: 100%;
      width: 100%; }
      .novosepisodios .ladoinfoseps .compartilharhome a i {
        font-size: 30px; }
  .novosepisodios .ver-mais a {
    font-size: 22px; }
  .noticias .tituloNoticias h3 {
    font-size: 2rem; }
    .noticias .tituloNoticias h3 span::after {
      margin-left: 0;
      margin-top: 25px; }
  .noticias .boxnoticia {
    font-size: 1rem;
    padding-top: 5%; }
    .noticias .boxnoticia .tag {
      padding-bottom: 2%; }
  .quemfaz .tituloquem {
    margin-top: 5%; }
    .quemfaz .tituloquem h3 {
      font-size: 2rem; }
    .quemfaz .tituloquem h3::after {
      margin-left: 0; } }

@media only screen and (min-width: 479px) and (max-width: 768px) {
  /*Banner*/
  .owl-carousel .banner .content {
    padding: 10%; }
    .owl-carousel .banner .content strong {
      font-size: 18px; }
    .owl-carousel .banner .content p {
      padding-top: 5%;
      font-size: 33px;
      text-align: center; }
    .owl-carousel .banner .content .buttons {
      flex-direction: column; }
      .owl-carousel .banner .content .buttons .oucaagora {
        border: 2px solid white;
        font-size: 18px; }
      .owl-carousel .banner .content .buttons .spotifybt {
        background-color: #1bba54;
        text-align: center;
        border: none;
        font-size: 18px;
        margin-top: 2%; }
  /*Home*/
  .novosepisodios .ladoinfoseps {
    margin-top: 10%; }
    .novosepisodios .ladoinfoseps h1 {
      font-size: 3rem; }
      .novosepisodios .ladoinfoseps h1 span {
        left: 0; }
    .novosepisodios .ladoinfoseps p {
      font-size: 20px; }
    .novosepisodios .ladoinfoseps h4 {
      font-size: 3rem; }
      .novosepisodios .ladoinfoseps h4 span {
        left: 0; }
    .novosepisodios .ladoinfoseps .compartilharhome a {
      height: 100%;
      width: 100%; }
      .novosepisodios .ladoinfoseps .compartilharhome a i {
        font-size: 30px; }
  .novosepisodios .ver-mais a {
    font-size: 22px; }
  .noticias .tituloNoticias h3 {
    font-size: 3rem; }
    .noticias .tituloNoticias h3 span::after {
      margin-left: 0;
      margin-top: 25px; }
  .noticias .boxnoticia {
    font-size: 1rem; }
    .noticias .boxnoticia .tag {
      padding-bottom: 1%;
      margin-bottom: 2%; }
    .noticias .boxnoticia span {
      font-size: 20px; }
  .quemfaz .tituloquem {
    margin-top: 5%; }
    .quemfaz .tituloquem h3 {
      font-size: 3rem; }
    .quemfaz .tituloquem h3::after {
      margin-left: 0; } }

@media only screen and (min-width: 769px) and (max-width: 991px) {
  /*Banner*/
  .owl-carousel .banner .content {
    padding: 10%; }
    .owl-carousel .banner .content strong {
      font-size: 24px; }
    .owl-carousel .banner .content p {
      padding-top: 10%;
      font-size: 43px;
      text-align: center; }
    .owl-carousel .banner .content .buttons {
      flex-direction: row;
      margin-top: 5%; }
      .owl-carousel .banner .content .buttons .oucaagora {
        border: 2px solid white;
        font-size: 18px; }
      .owl-carousel .banner .content .buttons .spotifybt {
        background-color: #1bba54;
        text-align: center;
        border: none;
        font-size: 18px; }
  /*Home*/
  .novosepisodios .ladoinfoseps {
    margin-top: 10%; }
    .novosepisodios .ladoinfoseps h1 {
      font-size: 2rem; }
      .novosepisodios .ladoinfoseps h1 span {
        left: 0; }
    .novosepisodios .ladoinfoseps p {
      font-size: 20px; }
    .novosepisodios .ladoinfoseps h4 {
      font-size: 2rem; }
      .novosepisodios .ladoinfoseps h4 span {
        left: 0; }
    .novosepisodios .ladoinfoseps .compartilharhome a {
      height: 100%;
      width: 100%; }
      .novosepisodios .ladoinfoseps .compartilharhome a i {
        font-size: 30px; }
  .novosepisodios .ver-mais a {
    font-size: 22px; }
  .noticias .tituloNoticias h3 {
    font-size: 2rem; }
    .noticias .tituloNoticias h3 span::after {
      margin-left: 0;
      margin-top: 25px;
      width: 36%; }
  .noticias .boxnoticia {
    font-size: 1rem;
    padding-top: 5%; }
    .noticias .boxnoticia .tag {
      padding-bottom: 2%; }
  .quemfaz .tituloquem {
    margin-top: 5%; }
    .quemfaz .tituloquem h3 {
      font-size: 2rem; }
    .quemfaz .tituloquem h3::after {
      margin-left: 0;
      width: 25%; } }

/*#endregion*/
