

footer {
    background-color: #2c2a2b;

    .logorodape {
        padding: 5% 2% 2% 5%;
        margin: 2%;
    }

    .nav-rodape2 {
        ul {
            margin-left: 3%;
            margin-top: 9%;
            border-top: 4px solid white;
            list-style-type: none;
            align-items: center;
            align-content: center;
            justify-content: center;

            li {
                margin: 1%;
                text-align: center;

                a {
                    color: white;
                    font-weight: 600;
                    font-size: 20px;
                    text-decoration: none;
                }
            }
        }
    }
}


@media only screen and (max-width: 480px) {
    footer {

        .logorodape {
            padding: 0;
            margin: 5%;
            width: 80%;
            height: auto;

        }
    }
}