.footer .social-networks {
  display: flex;
  justify-content: space-around;
  padding: 10px calc((100% - 1040px) / 2);
  min-width: 260px; }
  .footer .social-networks i {
    font-size: 2.5em;
    color: #000; }

.footer .info-footer {
  display: flex;
  flex-wrap: wrap;
  padding: 30px calc((100% - 1040px) / 2);
  margin: 0 auto;
  background: #2C2A2B; }
  .footer .info-footer .about {
    display: flex;
    flex: 1 1 260px;
    max-width: 300px;
    flex-direction: column; }
    .footer .info-footer .about img {
      display: block;
      align-self: center;
      max-width: 100%;
      width: 120px;
      height: 55px;
      text-align: center; }
    .footer .info-footer .about p {
      font-weight: 600;
      color: #fff;
      line-height: 1.5;
      font-size: .75em;
      margin-top: 24px;
      text-align: center; }
  .footer .info-footer .quick-links {
    display: flex;
    flex: 1 1 260px;
    justify-content: center; }
    .footer .info-footer .quick-links ul {
      list-style: none;
      margin: 0;
      padding: 0; }
      .footer .info-footer .quick-links ul li {
        margin-bottom: 10px; }
        .footer .info-footer .quick-links ul li a {
          text-decoration: none;
          color: #fff;
          font-size: 0.95em;
          font-weight: bold; }

.footer .info-copyright {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  .footer .info-copyright p {
    margin: 0;
    font-weight: 600;
    font-size: 0.85em; }

.footer .newsletter {
  display: flex;
  flex-direction: column;
  color: #FFFFFFF7;
  font-weight: 700; }
  .footer .newsletter h1 {
    font-size: 1em;
    font-weight: bold; }
  .footer .newsletter span {
    font-size: 0.75em; }
  .footer .newsletter input {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 0.80em;
    padding: 13px 13px 8.5px;
    display: block;
    flex: 1 1 260px;
    background: #FFF;
    border: 0;
    opacity: 1;
    margin-top: 1em;
    width: 20.5vw;
    height: 5.2vh; }
  .footer .newsletter button {
    font-family: 'Open Sans', sans-serif;
    background: #EB9736;
    border: 0;
    border-radius: 30px;
    opacity: 1;
    text-align: center;
    color: #FFF;
    font-size: 0.80em;
    font-weight: 600;
    width: 20.5vw;
    padding: 5px;
    margin-top: 1em; }
