



html,
body {
    padding: 0;
    margin: 0;
    background-color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 0;
    clear: both;
}

.body-content {
    margin: 0;
    clear: both;
}



button,
a {
    outline: none !important;
}
a:hover {
    color: #ed7d00 !important;
}
