
body {
    font-family: 'Montserrat', sans-serif !important;
    background: url(../images/glicthBG.png), #ed7d00; /* Old browsers */
    background: url(../images/glicthBG.png), -moz-linear-gradient(left, #ed7d00 0%, #e96000 100%); /* FF3.6-15 */
    background: url(../images/glicthBG.png), -webkit-linear-gradient(left, #ed7d00 0%,#e96000 100%); /* Chrome10-25,Safari5.1-6 */
    background: url(../images/glicthBG.png), linear-gradient(to right, #ed7d00 0%,#e96000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed7d00', endColorstr='#e96000',GradientType=1 ); /* IE6-9 */
    margin: 0px;
    padding: 0px;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

/*---------
  LOGIN
---------*/

#pagLogin {
    width: 90%;
    margin: auto;
    text-align: center;
}

#logologin {
    width: 214px;
    height: 92px;
    background-image: url(../images/logo-line.png);
    display: block;
    margin: auto;
    margin-bottom: 30px;
}

#pagLogin input {
    width: 100%;
    height: 55px;
    color: #878787;
    padding-top: 10px;
}

.input-group i {
    margin-top: -40px;
    margin-left: 20px;
    font-size: 27px;
    color: #ec7900;
}


.login .input-group {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 20px;
}

    .login .input-group input {
        height: 50px;
        width: 70%;
        padding: 0 20px;
        padding-left: 60px;
        box-sizing: border-box;
        font-size: 18px;
        outline: none;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }

    .login .input-group span {
        position: absolute;
        top: 12px;
        left: 60px;
        padding: 0;
        font-size: 22px;
        transition: 0.5s;
        pointer-events: none;
        background-color: #fff;
        color: #878787;
    }

    .login .input-group input:focus ~ span,
    .login .input-group input:valid ~ span {
        top: -18px;
        left: 10px;
        background-color: #fff;
        border: 1px solid #ec7900;
        color: #ec7900;
        padding: 1px 10px;
        font-size: 17px;
    }

button {
    width: 100%;
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 22px;
    text-decoration: none;
    background: none;
    border: 1px solid #fff;
    padding: 10px 0;
    overflow: hidden;
    margin-top: 30px;
}

    button:before {
        content: '';
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: #fff;
        transition: 0.5s ease-in-out;
        z-index: -1;
    }

    button:hover:before {
        left: 0;
        z-index: -1;
    }

    button b {
        color: #fff;
        z-index: 1;
    }

    button:hover b {
        color: #ec7900 !important;
    }

.lembrar {
    float: left;
}

    .lembrar input {
        width: 15px !important;
        height: 15px !important;
        background-color: #fff !important
    }

    .lembrar small {
        margin-top: -2px;
        font-size: 16px;
        padding-left: 5px;
        position: absolute;
        color: #fff;
    }

    .lembrar a {
        margin-top: -10px;
        font-size: 16px;
        color: #fff;
        position: absolute;
        right: 8%;
    }

#logologin {
    width: 214px;
    height: 92px;
    background-image: url(../images/logo-line.png);
    display: block;
    margin: auto;
    margin-bottom: 30px;
}

#pagLogin input {
    width: 100%;
    height: 55px;
    color: #878787;
    padding-top: 10px;
}

.input-group i {
    margin-top: -40px;
    margin-left: 20px;
    font-size: 27px;
    color: #ec7900;
}


.login .input-group {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 20px;
}

    .login .input-group input {
        height: 50px;
        width: 70%;
        padding: 0 20px;
        padding-left: 60px;
        box-sizing: border-box;
        font-size: 18px;
        outline: none;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }

    .login .input-group span {
        position: absolute;
        top: 12px;
        left: 60px;
        padding: 0;
        font-size: 22px;
        transition: 0.5s;
        pointer-events: none;
        background-color: #fff;
        color: #878787;
    }

    .login .input-group input:focus ~ span,
    .login .input-group input:valid ~ span {
        top: -18px;
        left: 10px;
        background-color: #fff;
        border: 1px solid #ec7900;
        color: #ec7900;
        padding: 1px 10px;
        font-size: 17px;
    }

.btn-login {
    width: 100%;
    margin: 0;
    position: absolute;
    right: 8%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 22px;
    text-decoration: none;
    background: none;
    border: 1px solid #fff;
    padding: 10px 0;
    overflow: hidden;
    margin-top: 30px;
}

    .btn-login:before {
        content: '';
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: #fff;
        transition: 0.5s ease-in-out;
        z-index: -1;
    }

    .btn-login:hover:before {
        left: 0;
        z-index: -1;
    }

    .btn-login b {
        color: #fff;
        z-index: 1;
    }

    .btn-login:hover b {
        color: #ec7900 !important;
    }

.lembrar {
    float: left;
}

    .lembrar input {
        width: 15px !important;
        height: 15px !important;
        background-color: #fff !important
    }

    .lembrar small {
        margin-top: -2px;
        font-size: 16px;
        padding-left: 5px;
        position: absolute;
        color: #fff;
    }

    .lembrar a {
        margin-top: -10px;
        font-size: 16px;
        color: #fff;
        position: absolute;
        right: 8%;
    }

@media only screen and (max-width: 767px) {
    .linhadbt a {
        width: 80%;
        left: 0;
        right: auto;
        margin-top: 30px;
        text-align: left;
        margin-left: 9%;
    }
}

/*tela de pop-up*/
.alert {
    position: fixed;
    padding: .75rem 1.25rem;
    margin-bottom: 6rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    min-width: 10%;
    top: auto !important;
    bottom: 10%;
    right: 50%;
    transform: translateX(50%) translateY(50%);
    display: block;
    z-index: 1000;
}
