
@{
    ViewData["Title"] = "Banners";
}

<!-- BANNER -->
<div class="owl-carousel owl-carousel-banner">
    <div class="banner">
        <img src="https://cafedebug.s3.us-east-2.amazonaws.com/Imagens/banner.jpg" alt="Banner" />
    </div>
</div>
<!-- FECHA BANNER -->


