
@{
    ViewData["Title"] = "Banners";
}

<!-- BANNER -->
<div class="owl-carousel owl-carousel-banner">
    <div class="banner">
        <div class="content">
            <strong>Cafê Debug <b>#24</b></strong> <!--razor trazer titulo do banco-->
            <p>Startups e Aceleradoras</p>
        </div>
    </div>
    <div class="banner">
        <div class="content">
            <strong>Cafê Debug <b>#24</b></strong>
            <p>Startups e Aceleradoras</p>
        </div>
    </div>
</div>
<!-- FECHA BANNER -->
