
@{
    ViewData["Title"] = "Banners";
}

<!-- BANNER -->
<div class="owl-carousel">
    <div class="banner">
        <img class="banner-mask" src="~/images/mask.png" />
        <div class="content">
            <strong>Cafê Debug <b>#24</b></strong> <!--razor trazer titulo do banco-->
            <p>Startups e Aceleradoras</p>
        </div>
    </div>
    <div class="banner">
        <img class="banner-mask" src="~/images/mask.png" />
        <div class="content">
            <strong>Cafê Debug <b>#24</b></strong>
            <p>Startups e Aceleradoras</p>
        </div>
    </div>
</div>
<!-- FECHA BANNER -->

@section scripts{
    <script type="text/javascript">

        var owl = $('.owl-carousel');
        owl.owlCarousel({
            items: 1,
            loop: true,
            margin: 10,
            autoplay: true,
            autoplayTimeout: 7000,
            autoplayHoverPause: true
        });

        $('.loading').addClass('hide');
    </script>
}