
<section class="novosepisodios">
    <div class="container">
        <div class="episodios-card">
            <h2>Episódios</h2>
            <h6>Ouça agora</h6>
        </div>

        <div class="row">
            <!--Carrega a lista de episódios-->
            <div class="col-sm-4 col-md-4 col-lg-4">
                <a href="#">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="https://cafedebug.s3.us-east-2.amazonaws.com/Imagens/arquitetura-software.jpg" alt="Imagem de capa do card" />
                                <div class="card-body">
                                    <p class="card-text">No episódio de hoje, estaremos batendo um papo com a galera...</p>
                                </div>
                            </div>
                            <div class="flip-card-back">
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                </p>
                            </div>

                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <a href="#">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="https://cafedebug.s3.us-east-2.amazonaws.com/Imagens/kubernetes-1.jpg" alt="Imagem de capa do card" />
                                <div class="card-body">
                                    <p class="card-text">No episódio de hoje, estaremos batendo um papo com a galera...</p>
                                </div>
                            </div>
                            <div class="flip-card-back">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <dia class="col-sm-4 col-md-4 col-lg-4">
                <a href="#">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="https://cafedebug.s3.us-east-2.amazonaws.com/Imagens/inclusao-digital.jpg" alt="Imagem de capa do card" />
                                <div class="card-body">
                                    <p class="card-text">No episódio de hoje, estaremos batendo um papo com a galera...</p>
                                </div>
                            </div>
                            <div class="flip-card-back">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                            </div>
                        </div>
                    </div>
                </a>
            </dia>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="ver-mais">
                    <a href="#" class="vermaiseps">Ver mais</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!--<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">-->
