
<section class="novosepisodios">
    <div class="container">
        <div class="episodios-card">
            <h2>Episódios</h2>
            <h6>Ouça agora</h6>
        </div>

        <div class="row">
            <!--Carrega a lista de episódios-->
            <div class="col-sm-4 col-md-4 col-lg-4">
                <a href="#">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="https://cafedebug.s3.us-east-2.amazonaws.com/Imagens/arquitetura-software.jpg" alt="Imagem de capa do card" />
                            </div>
                            <div class="flip-card-back">
                                <p>
                                    Neste episódio vamos falar sobre arquitetura de aplicações. <br />Então, segue a pauta abaixo e veja o que vamos falar: Visão geral da Arquitetura de aplicações,Tipos de arquiteturas de aplicações etc...
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <a href="#">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="https://cafedebug.s3.us-east-2.amazonaws.com/Imagens/kubernetes-1.jpg" alt="Imagem de capa do card" />
                            </div>

                            <div class="flip-card-back">
                                <p>Architect & Engineer</p>
                                <p>We love that guy</p>
                            </div>
                        </div>
                        <div class="card-body">
                            <p class="card-text">No episódio de hoje, estaremos batendo um papo com a galera...</p>
                        </div>

                    </div>
                </a>
            </div>
            <dia class="col-sm-4 col-md-4 col-lg-4">
                <a href="#">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="https://cafedebug.s3.us-east-2.amazonaws.com/Imagens/inclusao-digital.jpg" alt="Imagem de capa do card" />
                            </div>
                            <div class="flip-card-back">
                                <p>
                                    No episódio de hoje, estaremos batendo um papo com a galera...
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
            </dia>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="ver-mais">
                    <a href="#" class="vermaiseps">Ver mais</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!--<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">-->
