
@{
    ViewData["Title"] = "_FormContact";
}

<div class="container-form-contact">
    <div class="time-description-detalhes">
        <p class="title-nosso-time">Fale Conosco</p>
        <p class="debuggers-time time-name-colaborador">Debuggers</p>
    </div>
    <form method="POST">
        <div class="container-input-form">
            <input class="input-form" placeholder="Nome" />
            <input class="input-form" placeholder="Email" />
        </div>
        <div>
            <textarea class="textarea-form" placeholder="Envie sugestões, elogios e critícas"></textarea>
        </div>
        <div class="container-form-button">
            <input class="input-button" type="submit" asp-page-handler="JoinList" value="Enviar" />
        </div>
    </form>
</div>