
<div class="header">
    <div class="container">
        <div class="row">
            <nav class="navbar navbar-expand-lg">
                <div class="col-5 col-sm-6 col-md-4 col-lg-2 col-xl-2">
                    <!-- Logo -->
                    <div class="nav-logo">
                        <a class="logo-herf" href="@Url.Action("Index", "Home")">
                            <img src="https://cafedebug.s3.us-east-2.amazonaws.com/Imagens/logo-cafedebug.png" />
                        </a>
                    </div>
                </div>
                <!-- Collapse button -->
                <button class="navbar-toggler Toggle-button" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <div class="animated-icon1">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </button>
                <!-- Menu -->
                <div class="col-sm-12 col-md-12 col-lg-9 col-xl-9">
                    <div class="navbar-collapse collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav" id="navigation">
                            <li class="nav-item underline selected">
                                <a class="nav-link" href="@Url.Action("Index", "Home")">Home</a>
                            </li>
                            <li class="nav-item underline" id="episods">
                                <a class="nav-link" href="@Url.Action("Index", "Episode")">Episódios</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>


<script type="text/javascript">

    $(document).ready(function () {
        let link = window.location.href;

        if (link.includes('Episode')) {
            SetActiveClass(document.querySelector("#episods"));
        }


        function SetActiveClass(selector) {
            let navItems = document.querySelectorAll(".nav-item");
            navItems.forEach(item => item.classList.remove("selected"));
            selector.classList.toggle("selected");
        }
        $('.Toggle-button').on('click', function () {
            $('.animated-icon1').toggleClass('open');
        });

        $(".owl-carousel-banner ")
            .css("position", "relative");

        $(".header").css("position", "absolute")
            .css("top", "0")
            .css("z-index", "5")
            .css("padding-top", "2%");

        if (link.includes('Episode')) {
            $(".header ").css("position", "relative")
                .css("top", "0")
                .css("z-index", "0")
                .css("padding-top", "0");
            $(".header a").css("color", "black");


        }

    });

</script>










