<div class="header">
    <div class="container">
        <div class="row">
            <nav class="navbar navbar-expand-lg">
                <div class="col-5 col-sm-6 col-md-4 col-lg-2 col-xl-2">
                    <!-- Logo -->
                    <div class="nav-logo">
                        <a class="logo-herf" href="@Url.Action("Index", "Home")">
                            <img src="https://cafedebug.s3.us-east-2.amazonaws.com/Imagens/logo-cafedebug-rodape.png" />
                        </a>
                    </div>
                </div>
                <!-- Collapse button -->
                <button class="navbar-toggler Toggle-button" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <div class="animated-icon1">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </button>
                <!-- Menu -->
                <div class="col-sm-12 col-md-12 col-lg-9 col-xl-9">
                    <div class="navbar-collapse collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav" id="navigation">
                            <li class="nav-item underline selected">
                                <a class="nav-link" href="@Url.Action("Index", "Home")">Home</a>
                            </li>
                            <li class="nav-item underline" id="episods">
                                <a class="nav-link" href="@Url.Action("Index", "Episode")">Episódios</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>


<script type="text/javascript">

    $(document).ready(function () {
        let link = window.location.href;


        $(window).scroll(function () {
            console.log($(window).scrollTop());

            if (90 < $(window).scrollTop() < 120) {
                if (link.includes('Episode')) {
                    $(".header").css("position", "relative").css("box-shadow", "none");
                    $(".header").show("slow");
                }
                else {
                    $('.header').removeClass('scroll');
                    $(".header").css("position", "fixed").css("box-shadow", "none");
                }
                
            }
            if ($(window).scrollTop() > 120) {
                $('.header').addClass('scroll');
                $(".header").css("position", "fixed").css("box-shadow", "0 4px 15px rgba(0,0,0,.25)").css("transition", ".2s;");
            }


        });


        if (link.includes('Episode')) {
            SetActiveClass(document.querySelector("#episods"));
            $('.header').addClass('scroll');
            $('.header').css("position", "relative").css("transition", ".2s;");

        }

        function SetActiveClass(selector) {
            let navItems = document.querySelectorAll(".nav-item");
            navItems.forEach(item => item.classList.remove("selected"));
            selector.classList.toggle("selected");
        }
        $('.Toggle-button').on('click', function () {
            $('.animated-icon1').toggleClass('open');
        });

        $(".owl-carousel-banner ")
            .css("position", "relative");

    });

</script>










