
<div class="container-fluid">
    <div class="row">
        <nav class="navbar navbar-expand-lg">
            <!-- Logo -->
            <div class="col-5 col-sm-6 col-md-4 col-lg-2 col-xl-2">
                <div class="nav-logo">
                    <a class="Logo" href="@Url.Action("Index", "Home")">
                        <img src="https://cafedebug.s3.us-east-2.amazonaws.com/Imagens/logo-cafedebug.png" />
                    </a>
                </div>
            </div>
            <!-- Collapse button -->
            <button class="navbar-toggler Toggle-button" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <div class="animated-icon1">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </button>
            <!-- Menu -->
            <div class="col-sm-12 col-md-12 col-lg-9 col-xl-9">
                <div class="navbar-collapse collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav" id="navigation">
                        <li class="nav-item selected">
                            <a class="nav-link" href="#">@Html.ActionLink("Home", "Index", "Home")</a>
                        </li>
                        <li class="nav-item" id="about">
                            <a class="nav-link" href="#">@Html.ActionLink("Quem Somos", "Index", "About")</a>
                        </li>
                        <li class="nav-item" id="episods">
                            <a class="nav-link" href="#">@Html.ActionLink("Episódios", "Index", "Episode")</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>

<script type="text/javascript">

    let link = window.location.href;

    if (link.includes('About'))
    {
        SetActiveClass(document.querySelector("#about"));
    }
    else if (link.includes('Episode'))
    {
        SetActiveClass(document.querySelector("#episods"));
    }



    function SetActiveClass(selector)
    {
        let navItems = document.querySelectorAll(".nav-item");
        navItems.forEach(item => item.classList.remove("selected"));
        selector.classList.toggle("selected");
    } 

    $(document).ready(function () {
        $('.Toggle-button').on('click', function () {
            $('.animated-icon1').toggleClass('open');
        });
    });
</script>






