<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewData["Title"]</title>

    <!--CSS Links-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700';" rel="stylesheet">
    <!--font-awesome -->
    <link href="~/lib/font-awesome/css/all.min.css" />
    <link href="~/lib/font-awesome/css/brands.min.css" />
    <link href="~/lib/font-awesome/css/fontawesome.min.css" />

    <!-- Bootstrap CSS -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <!-- Owl Carousel 2.3.4 CSS-->
    <link href="~/lib/OwlCarousel2-2.3.4/dist/assets/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/lib/OwlCarousel2-2.3.4/dist/assets/owl.theme.default.min.css" rel="stylesheet" />

    <!-- CSS Views -->
    <link href="~/css/body.min.css" rel="stylesheet" />
    <link href="~/css/footer.min.css" rel="stylesheet" />
    <link href="~/css/header.min.css" rel="stylesheet" />
    <link href="~/css/html.min.css" rel="stylesheet" />

    <!-- jQuery -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation/dist/additional-methods.min.js"></script>

    <!--popper Javascript-->
    <script src="~/lib/popper/dist/popper.min.js"></script>

    <!-- Bootstrap Javascript-->
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Owl Carousel 2.3.4 Javascript-->
    <script src="~/lib/OwlCarousel2-2.3.4/dist/owl.carousel.min.js"></script>
</head>
<body>
    <partial name="_Header" />

    <main class="body-content">
        @RenderBody()
    </main>

    <partial name="_Footer" />

    <script src="~/js/cafeDebug.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>


