
@{
    ViewData["Title"] = "_Time";
}
<div class="container">
    <div class="owl-carousel owl-carousel-time">
        <div class="time-description">
            <img src="~/images/jessica.png" class="time-image" alt="Denis" />
            <div class="time-description-detalhes">
                <p class="time-name-colaborador">Jéssica Nathany</p>
                <p>Desenvolvedor Backend</p>
                <div class="time-description-detalhes">
                    <i class="fab fa-github"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-linkedin"></i>
                </div>
            </div>
        </div>
        <div class="time-description">
            <img src="~/images/khaled.png" class="time-image" alt="Denis" />
            <div class="time-description-detalhes">
                <p class="time-name-colaborador">Khaled Al Jadan</p>
                <p>Desenvolvedor Frontend</p>
                <div class="time-description-detalhes">
                    <i class="fab fa-github"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-linkedin"></i>
                </div>
            </div>
        </div>
        <div class="time-description">
            <img src="~/images/carol.png" class="time-image" alt="Denis" />
            <div class="time-description-detalhes">
                <p class="time-name-colaborador">Ana Carolina Felix</p>
                <p>Desenvolvedor Backend</p>
                <div class="time-description-detalhes">
                    <i class="fab fa-github"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-linkedin"></i>
                </div>
            </div>
        </div>
        <div class="time-description">
            <img src="~/images/denis.png" class="time-image" alt="Denis" />
            <div class="time-description-detalhes">
                <p class="time-name-colaborador">Denis Souza</p>
                <p>Desenvolvedor FullStack</p>
                <div class="time-description-detalhes">
                    <i class="fab fa-github"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-linkedin"></i>
                </div>
            </div>
        </div>
    </div>


</div>
