@model Cafedebug.Business.Models.Usuario
@{
    ViewData["Title"] = "Contato | Café Debug";
}

<!-- FECHA TOPO -->
<section id="quemsomos">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 colcenter">
                <img src="~/images/logo-quemsomos.png" />
                <div class="form-group w-100">
                    <div class="col-md-4 control-label  text-left">
                        <label class="control-label  " for="textinput">Nome</label>
                    </div>
                    <div class="form-group col-md-12 ">
                        <div class="">
                            <input id="nome" name="textinput" type="text" class="form-control input-md" required>
                        </div>
                    </div>
                    <fieldset>
                        <div class="form-group">
                            <div class="form-group col-md-2  text-left">
                                <label class="control-label  " for="textinput">Email</label>
                            </div>
                            <div class="form-group col-md-12 ">
                                <div class="">
                                    <input id="email" name="textinput" type="text" class="form-control input-md" required>
                                </div>
                            </div>
                            <div class="form-group col-md-2  text-left">
                                <label class="control-label  " for="textinput">Telefone</label>
                            </div>
                            <div class="form-group col-md-12 ">
                                <div class="">
                                    <input id="telefone" name="textinput" type="text" class="form-control input-md" required>
                                </div>
                            </div><br />
                            <!--Assunto-->
                            <div class="form-group col-md-2  text-left">
                                <label class="control-label  " for="textinput">Assunto</label>
                            </div>
                            <div class="col-md-6 floatl">
                                <select class="browser-default custom-select mb-4" id="select">
                                    <option value="" disabled="" selected="" required>Selecione um assunto</option>
                                    <option value="1">Sugestões</option>
                                    <option value="2">Elogios</option>
                                    <option value="2">Críticas</option>
                                    <option value="2">Parceria</option>
                                    <option value="2">Eventos</option>
                                    <option value="2">Outros</option>
                                </select>
                            </div>
                            <!-- Textarea -->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="noticia">Mensagem</label>
                                <div class="col-md-12">
                                    <textarea class="form-control " id="campobio" name="campobio" required></textarea>
                                </div>
                            </div>
                            <div class="text-right">
                                <a href="#" class="btn btn-sm btn-success">Enviar</a>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</section>

