<a href="Team/Update/{_Code_}"><i class="fas fa-pencil-alt mr-1"></i></a>
<a href="javascript:void(0)" onclick="Delete('/UI/Confirm', '{_Code_}', 'Administrador', 'Team', 'Delete')"><i class="fas fa-trash-alt"></i></a>
