<a asp-controller="Team" asp-action="Update" asp-route-code="02f3dc6e-cb41-4e35-9390-4bc92b1fb80d"><i class="fas fa-pencil-alt mr-1"></i></a>
<a href="javascript:void(0)" onclick="Delete('/UI/Confirm', '02f3dc6e-cb41-4e35-9390-4bc92b1fb80d', 'Administrador', 'Team', 'Delete')"><i class="fas fa-trash-alt"></i></a>
