<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="box box-default header-team">
                    <h3 class="card-title">Team</h3>
                    <a class="btn btn-success" asp-controller="Team" asp-action="Create"><i class="fa fa-plus fa-fw"></i>Novo</a>
                </div>
                <div class="card-body">
                    <table id="tbDados" class="table table-bordered table-hover">
                        <thead>
                            <tr>

                                <th>Nome</th>
                                <th>Função</th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>


@section scripts
{
    <script type="text/javascript">

        $.fn.dataTableExt.sErrMode = "console";
        $(document).ready(function () {

            $.get("@Url.Action("Actions")", function (data) {
                const ct = new CustomTable();

                ct.ActionUrl = '@Url.Action("Index")';
                ct.Actions = data;
                ct.Order = [[2, "desc"]];
                ct.FilterMessage = 'Digite para filtrar';
                ct.Columns = [
                    { "data": "name" },
                    {
                        "data": "job",
                        "sortable": false,
                        "searchable": false,
                    },
                    {
                        "data": "code",
                        "sortable": false,
                        "searchable": false,
                        "className": "text-center",
                        "render": function (data, type, full, meta) {
                            return ct.Actions.replace(/02f3dc6e-cb41-4e35-9390-4bc92b1fb80d/g, data);
                        }
                    },
                ];

                ct.Bind();
            })
        })
    </script>
}