@model List<Cafedebug.Web.Areas.Site.ViewModels.TeamViewModel>

<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Team</h3>
                </div>
                <div class="card-body">
                    <table id="tbDados" class="table table-bordered table-hover">
                        <thead>
                            <tr>

                                <th>Nome</th>
                                <th>Função</th>
                                <th>Redes Sociais</th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts
{
    <script type="text/javascript">

        $.fn.dataTableExt.sErrMode = "console";
        $(document).ready(function () {

            const ct = new CustomTable();

            ct.ActionUrl = '@Url.Action("Index")';
            ct.Order = [[2, "desc"]];
            ct.FilterMessage = 'Digite o título para filtrar';
            ct.Columns = [
                { "data": "Title" },
                {
                    "data": "Cultures",
                    "sortable": false,
                    "searchable": false,
                    "render": function (data, type, full, meta) {
                        return data.join(', ');
                    }
                },
                { "data": "ArtisticArea.Date" },
                { "data": "ArtisticArea.IsFeatured" },
                {
                    "data": "Code",
                    "sortable": false,
                    "searchable": false,
                    "className": "text-center",
                    "render": function (data, type, full, meta) {
                        return ct.Actions.replace(/{_Code_}/g, data);
                    }
                }
            ];

            ct.Bind();

        })
    </script>
}