.header-team {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    padding-bottom: 8px;
    border-bottom: 1px solid #dee2e6;

    h3 {
        font-size: 1.7em;
    }
}

.icons-action {
    color: #E77D03;
}

.page-item.active .page-link {
    background-color: #E77D03;
    border-color: #E77D03;
}

.badge-info {
    background-color: #E77D03;
}

.link-breadcrumb {
    color: #E77D03;

    &:hover {
        color: #E77D03;
    }
}
