.header-team {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    padding-bottom: 8px;
    border-bottom: 1px solid #dee2e6;

    h3 {
        font-size: 1.7em;
    }
}

.icons-action {
    color: #E77D03;
}

.page-item.active .page-link {
    background-color: #E77D03;
    border-color: #E77D03;
}

.badge-info {
    background-color: #E77D03;
}

.link-breadcrumb {
    color: #E77D03;

    &:hover {
        color: #E77D03;
    }
}

.container-form-team {
    background: #FFFFFF;

}

.container-input-form {
    display: flex;
    flex-wrap: wrap;

    .input-form {
        width: 26em;
        height: 3em;
        margin: 1em;
        padding: 1em;
        justify-content: space-between;
    }

    .input-form-image {
        width: 26em;
        height: 3em;
        margin: 1em;
        padding: 1em;
    }
}

