@{
    ViewData["Title"] = "Home | Café Debug";
}


<!-- BANNER -->
<div class="owl-carousel">
    <div class="banner">
        <img class="banner-mask" src="~/images/mask.png" />
        <div class="content">
            <strong>Cafê Debug <b>#24</b></strong>
            <p>Startups e Aceleradoras</p>
            <div class="buttons">
                <a href="#" class="oucaagora btn" target="_blank"><i class="fas fa-plus-circle"></i> ver mais episodios</a>
                <a href="#" class="spotifybt btn" target="_blank"><i class="fab fa-spotify"></i> ver mais episodios</a>
            </div>
        </div>
    </div>
</div>
<!-- FECHA BANNER -->

<section class="novosepisodios">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4 col-md-4 col-lg-4">
                <div class="ladoinfoseps">
                    <h1>Café<br />Debug <br /><span>______</span></h1>
                    <p>Café debug é um podcast de tecnologia e pra não bugar a sua cabeça!</p>
                    <h4>Assine<span>______</span></h4>
                    <div class="compartilharhome">
                        <a href="#"><i class="fab fa-apple"></i></a>
                        <a href="#"><i class="fab fa-android"></i></a>
                        <a href="https://soundcloud.com/cafe-de-bug"><i class="fab fa-soundcloud"></i></a>
                        <a href="https://open.spotify.com/show/3uqyj3GlhBHp1IJN8KJ1xU"><i class="fab fa-spotify"></i></a>
                        <a href="#"><i class="fas fa-rss"></i></a>
                    </div>
                </div>
            </div>
            <!--Carrega a lista de episódios-->
            <div class="col-sm-4 col-md-4 col-lg-4">
                <div>
                    <a href="#">
                        <div class="episodiounico"><img src="~/images/Image-EP.jpg" /></div>
                    </a>
                    <a href="#">
                        <div class="episodiounico"><img src="~/images/Image-EP.jpg" /></div>
                    </a>
                </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <div>
                    <a href="#">
                        <div class="episodiounico"><img src="~/images/Image-EP.jpg" /></div>
                    </a>
                    <a href="#">
                        <div class="episodiounico"><img src="~/images/Image-EP.jpg" /></div>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="ver-mais  ">
                    @*<li class="fas fa-plus-circle">@Html.ActionLink("ver mais episódios", "MaisEpisodios", "Episodio", new { @class = "vermaiseps" })</li>*@
                    <a href="#" class="vermaiseps"><i class="fas fa-plus-circle"></i> ver mais episodios</a>
                </div>
            </div>
        </div>
    </div>
</section>

<partial name="_DesbugandoNoticia" />

<section class="quemfaz">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="tituloquem">
                    <h3>Quem faz?<span></span></h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 col-md-3 col-lg-3">
                <div class="userquemfaz">
                    <div class="square">
                        <div class="block">
                            <img src="~/images/img-jessica.jpg" />
                            <img class="loading" src="~/images/Spinner.gif" />
                        </div>
                    </div>
                    <div class="userhome">
                        <h3>Jéssica Nathany </h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                        <div class="socialuser">
                            <a href="#" target="_blank"><i class="fab fa-instagram "></i></a>
                            <a href="#" target="_blank"><i class="fab fa-facebook-square "></i></a>
                            <a href="#" target="_blank"><i class="fab fa-twitter-square"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                <div class=" userquemfaz">
                    <div class="square">
                        <div class="block">
                            <img src="~/images/img-douglas.jpg" />
                            <img class="loading" src="~/images/Spinner.gif" />
                        </div>
                    </div>
                    <div class="userhome">
                        <h3>Douglas Pires </h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                        <div class="socialuser">
                            <a href="#" target="_blank"><i class="fab fa-instagram "></i></a>
                            <a href="#" target="_blank"><i class="fab fa-facebook-square "></i></a>
                            <a href="#" target="_blank"><i class="fab fa-twitter-square"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                <div class="userquemfaz">
                    <div class="square">
                        <div class="block">
                            <img src="~/images/img-denis.png" />
                            <img class="loading" src="~/images/Spinner.gif" />
                        </div>

                    </div>
                    <div class="userhome">
                        <h3>Austin Felipe</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                        <div class="socialuser">
                            <a href="#" target="_blank"><i class="fab fa-instagram "></i></a>
                            <a href="#" target="_blank"><i class="fab fa-facebook-square "></i></a>
                            <a href="#" target="_blank"><i class="fab fa-twitter-square"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                <div class="userquemfaz">
                    <div class="square">
                        <div class="block">
                            <img src="~/images/img-yunnes.jpg" />
                            <img class="loading" src="~/images/Spinner.gif" />
                        </div>
                    </div>
                    <div class="userhome">
                        <h3>Yunnes Addul</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                        <div class="socialuser">
                            <a href="#" target="_blank"><i class="fab fa-instagram "></i></a>
                            <a href="#" target="_blank"><i class="fab fa-facebook-square "></i></a>
                            <a href="#" target="_blank"><i class="fab fa-twitter-square"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script type="text/jscript">

        debugger;
        var owl = $('.owl-carousel');
        owl.owlCarousel({
            items: 1,
            loop: true,
            margin: 10,
            autoplay: true,
            autoplayTimeout: 1000,
            autoplayHoverPause: true
        });

        $('.loading').addClass('hide');
    </script>
}