@{
    ViewData["Title"] = "Home | Café Debug";
}


<partial name="~/Views/Shared/_Banner.cshtml" />

<section class="novosepisodios">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4 col-md-4 col-lg-4">
                <div class="ladoinfoseps">
                    <h1>Café Debug <br /></h1>
                    <p>Café debug é um podcast de tecnologia e pra não bugar a sua cabeça!</p>
                    <h1>Assine</h1>
                    <div class="compartilharhome">
                        <a href="#"><i class="fab fa-apple"></i></a>
                        <a href="#"><i class="fab fa-android"></i></a>
                        <a href="https://soundcloud.com/cafe-de-bug"><i class="fab fa-soundcloud"></i></a>
                        <a href="https://open.spotify.com/show/3uqyj3GlhBHp1IJN8KJ1xU"><i class="fab fa-spotify"></i></a>
                        <a href="#"><i class="fas fa-rss"></i></a>
                    </div>
                </div>
            </div>
            <!--Carrega a lista de episódios-->
            <div class="col-sm-4 col-md-4 col-lg-4">
                <div>
                    <a href="#">
                        <div class="episodiounico"><img src="https://cafedebug.s3.us-east-2.amazonaws.com/Image-EP.jpg" /></div>
                    </a>
                    <a href="#">
                        <div class="episodiounico"><img src="https://cafedebug.s3.us-east-2.amazonaws.com/Image-EP.jpg" /></div>
                    </a>
                </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <div>
                    <a href="#">
                        <div class="episodiounico"><img src="https://cafedebug.s3.us-east-2.amazonaws.com/Image-EP.jpg" /></div>
                    </a>
                    <a href="#">
                        <div class="episodiounico"><img src="https://cafedebug.s3.us-east-2.amazonaws.com/Image-EP.jpg" /></div>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="ver-mais  ">
                    @*<li class="fas fa-plus-circle">@Html.ActionLink("ver mais episódios", "MaisEpisodios", "Episodio", new { @class = "vermaiseps" })</li>*@
                    <a href="#" class="vermaiseps"><i class="fas fa-plus-circle"></i> ver mais episodios</a>
                </div>
            </div>
        </div>
    </div>
</section>

<partial name="_DesbugandoNoticia" />

@section scripts{
    <script type="text/javascript">

        var owl = $('.owl-carousel');
        owl.owlCarousel({
            items: 1,
            loop: true,
            margin: 10,
            autoplay: true,
            autoplayTimeout: 7000,
            autoplayHoverPause: true
        });

    </script>
}