@model Cafedebug.Model.Usuario

@{
    ViewBag.Title = "Login | Café Debug";
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/login.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700" rel="stylesheet">
    <link href="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js" />
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-5">
                <section id="pagLogin">
                    @using(Html.BeginForm("Autentication", "Account", FormMethod.Post, new { @class = "login", id = "FormLogin" }))
                    {
                        <div id="logologin" alt="café debug"></div>

                        <div class="input-group">
                            @Html.TextBoxFor(u => u.Login, new { required = "required", id = "Login" })<i class="fas fa-user"></i><span>login</span>
                        </div>
                        <div class="input-group">
                            @Html.TextBoxFor(u => u.Senha, new { required = "required", type = "password", id = "Password" })<i class="fas fa-lock"></i><span>senha</span>
                        </div>
                        <div class="input-group">
                            <button name="logar"><b>Logar</b></button>
                        </div>
                        <br /><br /><br />

                        <div class="lembrar checkbox">
                            <label class="linhadbt"><input type="checkbox" id="LembrarSenha" , name="LembrarSenha" value="lembrarSenha"><small>lembrar senha</small></label>
                            <label class="linhadbt">
                                @Html.ActionLink("Esqueci minha senha", "PasswordForgout", "Account", new { id = "id" }, null)
                            </label>
                        </div>
                    }
                </section>
            </div>
        </div>
    </div>
</body>

</html>

<script type="text/jscript">

    $(function () {
        $('FormLogin').submit(function () {
            if ($(this).valid()) {
                $.ajax({
                    url: this.action,
                    type: this.method,
                    data: $(this).serialize(),
                    success: function (result) {
                        $('#result').html(result);
                    }
                });
            }
            return false;
        });
    });

</script>