@model Cafedebug.Model.Usuario

@{
    ViewData["Title"] = "Listar Banner | Café Debug";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<!DOCTYPE html>
<html lang="pt-br">
<head>

</head>
<body>
    <div id="content">
        <div class="container">
            <div class="row">
                <div id="boxmeio_quemsomos" class="col-sm-10 center-block">
                    <legend>Listar Banner</legend>
                    <div class="form-group col-md-9 floatl">
                        <label class="control-label" for="textinput">Pesquisar</label>
                            <a href="#" class="btn btn-sm btn-primary">Pesquisar</a>
                        <div class="">
                            <input id="textinput" name="textinput" type="text" class="form-control input-md" required>
                        </div>
                    </div>
                    <div id="boxscroll_quemsomos">
                        <div class="col-md-12">
                            <div class="boxgrid">
                                <!--carregar do banco os dados da pessoa-->
                                <div class="box-grid-banner">
                                    <h4>linha 1</h4>
                                    <h4>linha 2</h4>
                                    <h4>linha 3</h4>
                                    <h4>linha 4</h4>
                                    <h4>Linha 5</h4>
                                </div>
                            </div>
                            <div class="" botoessmall">
                                <a href="@Url.Action("NovoBanner", "Banner")" class="btn btn-sm btn-primary">Adicionar Novo</a>
                            </div>
                        </div>
                        <div class="botoessmall">
                            <a href="#" class="btn btn-sm btn-primary">editar</a>
                            <a href="#" class="btn btn-sm btn-danger">excluir</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

<script type="text/jscript">

    $(document).ready(function () {
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
            $(this).toggleClass('active');
        });
    });

</script>