@model Cafedebug.Business.Models.Sponsor

@{
    ViewData["Title"] = "QuemSomos admin | Café Debug";
    Layout = "~/Views/Shared/_layout.cshtml";
}

@System.Globalization.CultureInfo.CurrentCulture

<div id="content">
    <div class="container">
        <div class="row">
            <div id="boxmeio_quemsomos" class="col-sm-10 center-block">
                <legend>Quem Somos</legend>
                <div id="boxscroll_quemsomos">
                    <div class="col-md-12">
                        <div class="boxusuario ">
                            <div class="boximagem"><img src="~/images/img-jessica.jpg" /></div>
                            <!--carregar do banco os dados da pessoa-->
                            <div class="boxpessoa">
                                <h4>Jéssica Nathany</h4>
                                <p>Desenvolvedora de software e host</p>
                                <div class="icon-socmed">
                                    <a href=""> <i class="fab fa-facebook-square"></i></a>
                                    <a href=""> <i class="fab fa-twitter"></i></a>
                                </div>
                                <div class="botoessmall">
                                    <a href="#" class="btn btn-sm btn-primary">editar</a>
                                    <a href="#" class="btn btn-sm btn-danger">excluir</a>
                                </div>
                            </div>
                        </div>
                        <div class="boxusuario ">
                            <div class="boximagem"><img src="~/images/image-austin.jpg" /></div>
                            <!--carregar do banco os dados da pessoa-->
                            <div class="boxpessoa">
                                <h4>Austin Felipe</h4>
                                <p>Desenvolvedor de software e co-host</p>
                                <div class="icon-socmed">
                                    <a href=""> <i class="fab fa-facebook-square"></i></a>
                                    <a href=""> <i class="fab fa-twitter"></i></a>
                                </div>
                                <div class="botoessmall">
                                    <a href="#" class="btn btn-sm btn-primary">editar</a>
                                    <a href="#" class="btn btn-sm btn-danger">excluir</a>
                                </div>
                            </div>
                        </div>
                        <div class="boxusuario ">
                            <div class="boximagem"><img src="~/images/img-douglas.jpg" /></div>
                            <!--carregar do banco os dados da pessoa-->
                            <div class="boxpessoa">
                                <h4>Douglas Pires</h4>
                                <p>Desenvolvedor de software e co-host</p>
                                <div class="icon-socmed">
                                    <a href=""> <i class="fab fa-facebook-square"></i></a>
                                    <a href=""> <i class="fab fa-twitter"></i></a>
                                </div>
                                <div class="botoessmall">
                                    <a href="#" class="btn btn-sm btn-primary">editar</a>
                                    <a href="#" class="btn btn-sm btn-danger">excluir</a>
                                </div>
                            </div>
                        </div>
                        <div class="boxusuario ">
                            <div class="boximagem"><img src="~/images/img-yunnes.jpg" /></div>
                            <!--carregar do banco os dados da pessoa-->
                            <div class="boxpessoa">
                                <h4>Yunnes Abdul</h4>
                                <p>Editor vídeos e áudio e co-host</p>
                                <div class="icon-socmed">
                                    <a href=""> <i class="fab fa-facebook-square"></i></a>
                                    <a href=""> <i class="fab fa-twitter"></i></a>
                                </div>
                                <div class="botoessmall">
                                    <a href="#" class="btn btn-sm btn-primary">editar</a>
                                    <a href="#" class="btn btn-sm btn-danger">excluir</a>
                                </div>
                            </div>
                        </div>
                        <div class="boxusuario ">
                            <div class="boximagem"><img src="~/images/img-denis.png" /></div>
                            <!--carregar do banco os dados da pessoa-->
                            <div class="boxpessoa">
                                <h4>Denis Souza</h4>
                                <p>Desenvolvedor de Software</p>
                                <div class="icon-socmed">
                                    <a href="https://www.linkedin.com/in/denis-souza-95b224129/"> <i class="fab fa-facebook-square"></i></a>
                                    <a href=""> <i class="fab fa-twitter"></i></a>
                                </div>
                                <div class="botoessmall">
                                    <a href="#" class="btn btn-sm btn-primary">editar</a>
                                    <a href="#" class="btn btn-sm btn-danger">excluir</a>
                                </div>
                            </div>
                        </div>
                        <a href="@Url.Action("NovoParticipante", "QuemSomos")" class="btn btn-sm btn-primary">Adicionar Novo</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/jscript">

    $(document).ready(function () {
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
            $(this).toggleClass('active');
        });
    });

</script>